#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.letter-content{
  min-height: 50px;
  border-bottom: 1px solid white;
  text-transform: uppercase;
  font-size: 2em;
}

.game-content{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.representation-game{ 
}

#palabra-adivinar{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%,50px), 1fr));
  gap: 10px;
}
